

<li class="message">
  <span><%= message.user.name %></span>
  <span><%= message.text %></span>
</li>


<li class="message">
  <span><%= message.user.name %></span>
  <span><%= message.text %></span>
</li
