

<div class="panel panel-default">
  <% if @chats.any? %>
    <ul class="panel-body chats" id="chats">
      <% @chats.each do |chat| %>
        <li class="chat">
          <span><%= chat.users.count %> people</span>
          <span><%= chat.messages.last.text[0, 32] if chat.messages.any? %><span>
        </li>
      <% end %>
    </ul>
  <%end%>
</div>


<div class="panel panel-default">
  <% if @chats.any? %>
    <ul class="panel-body chats" id="chats">
      <% @chats.each do |chat| %>
        <li class="chat">
          <span><%= chat.users.count %> people</span>
          <span><%= chat.messages.last.text[0, 32] if chat.messages.any? %><span>
        </li>
      <% end %>
    </ul>
  <%end%>
</div>
